{% extends "layout.html" %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
    {% endfor %}
{% endif %}
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for product in products %}
        <div class="col">
            <div class="card">
                <div class="image" style="position:relative; overflow:hidden; padding-bottom:100%;">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" style=" position:absolute;">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">${{ product.price }}</h6>
                    <p class="card-text">{{ product.description }}</p>
                    <a href="{% url 'product' id=product.id %}" class="btn btn-success">Kup <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}